.venv
.venv-runtime
venv

__pycache__
.mypy_cache
.pytest_cache
.vscode

.git
.gitignore

Dockerfile
docker-compose.yml
.dockerignore

*.log

scripts/

data-collecting/

!vectordb/vectordb_util

*.pkl
*.safetensors
*.bin

models/kure-v1-onnx/
*.onnx
