# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environment
venv/
.venv/
.env/
.env
.venv-runtime/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Coverage
htmlcov/
.coverage

# Pycharm
*.iml

mykey.json
static/profile_images/*
!static/profile_images/.gitkeep

__pycache__/
*.pyc

.ipynb_checkpoints/

/chroma_data/

models/
